# Dependências e Pacotes
/node_modules
dist

# Variáveis de Ambiente e Segredos
.env
.env.*
!.env.example
!.env.prod.example

# Logs
npm-debug.log*
yarn-error.log
pnpm-debug.log

# Arquivos de Editor de Código e IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

/src/generated/prisma
